/* --- 0000000000000000 ---- */
* {
  margin:0;
  padding:0;
  border: 0;
  box-sizing: border-box;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* --- 0000000000000000 end---- */

body {
  max-width: 1220px;
  margin: 0 auto 0;
  font-family: 'Roboto', sans-serif;
}

.contacts, .about-myself,
.useful-skills, .code-example,
.education, .languages,
.projects, header, footer {
  display: flex;
  margin: 15px 25px 15px;
  padding: 15px 12% 15px;
  background-color: #f8f8f8;
  box-shadow: -7px 7px 5px rgba(0, 0, 0, 0.15);
}
.contacts, .about-myself,
.useful-skills, .code-example,
.education, .languages,
.projects {
  flex-direction: column;
}
header, footer {
  justify-content: space-between;
}
footer {
  align-items: flex-end;
}
.foto {
  width: 270px;
  border: 1px solid #000000;
}
.img-foto {
  width: 100%;
}
.logo-rsschool {
  height: 60px;
}
h1, h2 {
  margin-bottom: 10px;
}
li, p {
  margin-bottom: 6px;
}
.link-my-github {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}
